body {
  background-color: #ef5350 !important;
}

.vcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.logo {
  position: relative;
  bottom: 150px;
  font-family: 'Lobster', cursive;
  font-size: 750%;
  color: white;
}

nav {
  width: 250%;
  transform: translate(-30%, 0%);
}

.nav-wrapper {
  background-color: #ffebee;
}

.input-field .twitter-typeahead + label {
  left: 1rem;
}

.twitter-typeahead {
  width: 100%;
  padding-bottom: 15px;
  font-family: 'Cabin', sans-serif;
}

.tt-suggestion {
  line-height: 2;
}

.movie {
  font-size: 15pt;
  color: #ffebee;
  transition: 0.2s ease;
}

.movie:hover {
  font-size: 16pt;
  color: #80CBC4;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #616161;
  font-family: 'Cabin', sans-serif;
  font-style: italic;
}

:-moz-placeholder {
  color: 80cbc4;
}

::-moz-placeholder {  
  color: #9E9E9E;
}

:-ms-input-placeholder {  
  color: #9E9E9E;
}
